<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><h1>Best Books!</h1></a>
            <a href="#"><i class="fa fa-bars"></i></a>
        </nav>
        <section id="pageTitle">Saved Books<span><%=book.length %></span></section>
    </header>
    <main>
        <% book.forEach(book => {%>
        <div>
            <img src="<%= book.imageurl%>" />
            <h3> <%= book.title %> </h3>
            <h4> <%= book.authors %> </h4>
            <a href="/books/<%=book.bookid %>"><button>View Details</button></a>
        </div>
        <br>
        <% }) %>
    </main>
    <footer>
        <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        </ul>
    </footer>
</body>
</html>
